.main-bg {
    background: url(../img/main.bg.svg.svg) center center;
    background-size: cover;
    color: #fff;
}

.white-bg {
    background-color: #fff;
    color: var(--cor-primaria);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}