@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-titulo: 'Montserrat';
    --fonte-texto: 'Open Sans';
    --cor-primaria: #0A1128;
    --cor-secundaria: #787838;
    --cor-terciaria: #855325;
    --gap: 3rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fonte-texto), sans-serif;
    font-size: 2rem;
    color: var(--cor-primaria);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonte-titulo), sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4%;
}

h6 {
    font-size: 3.5rem;
}

.main-bg {
    background: url(../img/main.bg.svg.svg) fixed center center;
    background-size: cover;
    color: #fff;
}

.white-bg {
    background-color: #fff;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}