@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('espaco.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div {
    display: flex;
    justify-content: center;
}